body{
  background-color: rgb(0, 0, 71);
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(to left, #8f94fb, rgb(0, 0, 71));
}

html,body {
  scroll-behavior: smooth;
}

.active{
  color: orange !important;
}
/* Animation reveal */
[class*="reveal-"]{
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible{
  opacity: 1;
  transform: translateY(0px);
  transition: 1s cubic-bezier(0.5,0,0,1);
}

.reveal-2{
  transition-delay: 0.1s;
}

.reveal-3{
  transition-delay: 0.2s;
}

.reveal-4{
  transition-delay: 0.3s;
}
/* Background */
.circles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Désactive les interactions sur les éléments de fond */
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

/* NavBar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(20px);
}

.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
span{
  color: orange;
}

.name{
  font-size: 1.5rem;
  text-decoration: none;
  color: orange;
  font-weight: bolder;
  transition: .50s ease;
}
.name:hover{
  padding-left: 10px;  
}

.navbar a {
  font-size: 1.15em;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: .50s ease;
}
.navbar a:hover{
  color: orange;
  padding-right: 10px;
}
#check{
  display: none;
}
.menu{
  position: absolute;
  right: 5%;
  color: whitesmoke;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* Introduction */

section {
  padding: 60px  9% 90px;
  position: relative;
}


.container {
  background-color: whitesmoke;
  margin-bottom: 100px;
  display: flex;
}

.hero {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: justify;
}
.illustration {
  margin-left: 100px !important;
  margin: auto;
  width: 450px;
  height: 600px;
  border-radius: 20%;
}

.myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Me {
  margin-top: 160px;
  position: relative;
  width: 380px;
  height: 500px;
  border: 3.5px solid rgb(3, 119, 227);
  border-radius: 20%;
}

.softskillContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.softskill {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.title-softskill {
  font-size: 20px !important;
  color: #7d84ff !important;
}

.main-content {
  color: rgb(0, 0, 71);
}
.main-content h3{
  font-size: 1.4rem;
}
.main-content h2{
  font-size: 2.5rem;
  font-weight: 800;
  margin: 20px 0px 20px;
  line-height: 1.3;
}
.main-content h4{
  margin: 20px 0px 20px;
  font-size: 1.6rem;
  line-height: 1.3;
  color: rgb(0, 0, 71);
}
.main-content p{
  font-size: 1rem;
  font-weight: 600;
  max-width: 100%;
  color: rgb(0, 0, 71);
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.medsos{
  margin-top: 35px;
  margin-bottom: 80px;
}

.medsos .Icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: whitesmoke;
  border: 3.5px solid rgb(3, 119, 227);
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all .50s ease;
}
.medsos .Icon:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(3, 119, 227);
}
.main-btn {
  margin-top: 35px;
}
.btn{
  padding: 11px 26px;
  background: rgb(3, 119, 227);
  color: rgb(5, 9, 31);
  border: 2px solid rgb(3, 119, 227);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  text-decoration: none;

}
.btn:hover {
  background: transparent;
  color: whitesmoke;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  cursor: pointer;
}
.btn2{
  background: transparent;
  color: whitesmoke;
  margin-left: 15px;
}
.btn2:hover{
  cursor: pointer;
  background: rgb(3, 119, 227);
  color: rgb(5, 9, 31);
  box-shadow: 0 0 20px rgb(3, 119, 227) ;
}

.btn3{
  background-color: rgb(0, 0, 71);;
  border-radius: 10px;
  border: none;
  margin-top: 120px;
  color: whitesmoke;
}

.btn3:hover{
  background-color: whitesmoke;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  cursor: pointer;
  color: #7d84ff;
}

/* Mes Services */

.services-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 150px;
}

.service-card {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  margin: 10px;
  position: relative; 
}

.service-card:hover{
  scale: 1.25;
}

.service-card img {
  width: 100px;
  height: 100px;
}

.service-card h3 {
  font-size: 20px;
  margin: 10px 0;
  position: relative; 
  color: rgb(0, 0, 71);
}

.service-card p {
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #7d84ff;
  text-align: center;
}

.Services {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  margin: 20px 0px 20px;
  line-height: 1.3;
  color: whitesmoke;
  margin-bottom: 50px;
}

.Services::before {
  background-color: #7d84ff;
  content: '';
  height: 5px;
  margin-left: 110px;
  margin-top: 90px;
  position: absolute;
  width: 160px;
}

/* Contact */
.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; 
}

.contact-container {
  flex-direction: column;
}

.container-item {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 200px;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  cursor: pointer;
  margin-bottom: 20px;
}

.item {
  font-size: 18px;
  color: #7d84ff;
  text-decoration: underline;
}

.title-item {
  display: inline-block;
  position: relative;
  margin: 0 40px 40px 40px;
  color: rgb(0, 0, 71);
}

.icon-item {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.title-item:before {
  background-color: #7d84ff;
  bottom: -15px;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  width: 110%;
}

.Contact {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  margin: 20px 0px 20px;
  line-height: 1.3;
  color: hsl(0, 0%, 96%);
  margin-bottom: 50px;
}

.Contact::before {
  background-color: #7d84ff;
  content: '';
  height: 5px;
  margin-top: 90px;
  position: absolute;
  width: 160px;
}

.contact__title {
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: rgb(0, 0, 71);
}

.contact__content {
  width: 50%;
  padding: 20px;
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(3, 119, 227);
}

.contact__form {
  display: flex;
  flex-direction: column;
  height: auto;
}

.contact__form-div {
  margin-bottom: 20px;
}

.contact__form-input,
.contact__form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  background-color: #6066d6;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  transition: all .50s ease;
}

.button:hover {
  background-color: whitesmoke;
  color: #6066d6;
  box-shadow: 0 0 20px rgb(3, 119, 227);
}

/* Portfolio */
.Portfolio_title {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  margin: 20px 0;
  line-height: 1.3;
  color: rgb(0, 0, 71);
  margin-bottom: 50px;
  position: relative; 
}

.Portfolio_title::before {
  background-color: #7d84ff;
  content: '';
  height: 5px;
  margin-top: 90px;
  position: absolute;
  width: 160px;
  left: 50%; 
  transform: translateX(-50%); 
}

.projects {
  background-color: whitesmoke;
  padding: 20px;
}

.prtofolio_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.project__container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: whitesmoke;
  max-width: 550px; 
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  margin-top: 50px;
}

.project__container:hover {
  scale: 1.1;
}

.project__image {
  width: 100%; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project__image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

article {
  padding: 20px;
}

.project__container h3 {
  color: #7d84ff;
  margin-bottom: 20px;
  font-size: 2.0rem;
}

.project__container p {
  color: black;
  font-size: 1.0rem;
  margin-bottom: 20px;
}

.btn_project {
  padding: 11px 26px;
  color: whitesmoke !important;
  background: #7d84ff;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  text-decoration: none;
  display: inline-block; 
}

.btn_project:hover {
  background: transparent;
  color: #7d84ff !important;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  cursor: pointer;
}

/* footer */

footer {
  background-color: #212121;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.Icon {
  font-size: 2rem;
  color: #ffffff;
  margin-right: 10px;
}

#linkedin {
  color: #0a66c2; 
}

p {
  margin: 0;
  font-size: 14px;
}

.Icon {
  font-size: 2rem;
  color: #ffffff;
  margin: 0 10px;
}

.line1, .line2{
  width: 100%;
  height: 2px;
  background-color: #ffffff; 
}

.footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 60px;
}

.footer_link .Icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: whitesmoke;
  border: 3.5px solid rgb(3, 119, 227);
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all .50s ease;
}
.footer_link .Icon:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(3, 119, 227);
}

@media (max-width: 1200px) {

  .menu {
    display: inline-flex;
  }

  #check:checked ~ .menu #icon-menu {
    display: none;
  }

  .menu #close-menu {
    display: none;
  }

  #check:checked ~ .menu #close-menu {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(0, 0, 63);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: .2s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .2s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
  }

  /* Introduction */
  section {
    padding: 10px 5% 40px;
  }

  .Me {
    margin-top: 80px; 
  }

  .container {
    flex-direction: column;
  }

  .hero {
    width: 100%;
    align-items: center; 
    justify-content: center;
  }

  .illustration {
    width: 100%; 
    height: auto; 
    max-width: 400px; 
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 40px;
  }


  .main-content h1 {
    font-size: 2.5rem;
  }

  .main-content h4,
  .main-content p {
    width: 100%;
  }

  .medsos {
    margin-bottom: 20px;
  }

  .btn,
  .btn2 {
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
  }

  /* Portfolio */

  .project__container {
    width: 80%;
  }
  /* Contact */
  .container-item {
    width: 100%;
  }

/* Services */
.services-container {
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.service-card {
  width: 80%;
  margin: 10px 0;
}

.service-card:hover {
  scale: none;
}

.service-card img {
  width: 80px;
  height: 50px; 
}

.service-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.service-card h3:before {
  height: 5px;
  margin-top: 8px;
}

.service-card p {
  font-size: 14px;
  margin-top: 10px;
}

.Services {
  font-size: 2rem;
}

.Services::before {
  margin-left: 60px;
  margin-top: 50px;
  width: 100px;
}

.Contact {
  font-size: 2rem;
}

.Contact::before {
  margin-top: 50px;
  width: 100px;
}

.Portfolio_title{
  font-size: 2rem;
  margin-bottom: 20px;
}

.Portfolio_title::before {
  margin-top: 50px;
  width: 100px;
}
}

/* Responsive Design for Phones */
@media (max-width: 600px) {
  .header {
    padding: 1rem 5%;
  }

  .hero {
    margin-top: 40px;
  }

  .illustration {
    width: 70%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px !important;
  }

  .Me {
    margin-top: 80px; 
    width: 80%; 
    height: auto;
    max-width: 300px; 
    border-width: 2px; 
    border-radius: 10%;
  }

  .main-content h1 {
    font-size: 2rem;
  }

  .softskill {
    width: 150px;
    height: auto;
  }

  .main-content h4,
  .main-content p {
    width: 100%;
    font-size: 0.9rem;
  }

  .medsos {
    margin-bottom: 15px;
  }

  .main-btn {
    display: flex;
    flex-direction: column;
  }

  .btn,
  .btn2 {
    width: 100%;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  /* Services */
  .service-card img {
    width: 60px;
    height: 60px;
  }

  .service-card h3 {
    font-size: 16px;
    margin: 8px 0;
  }

  .service-card h3:before {
    height: 4px;
    margin-top: 6px;
  }

  .service-card p {
    font-size: 12px;
    margin-top: 8px;
  }

  .Services {
    font-size: 1.8rem;
  }

  .Services::before {
    margin-left: 60px;
    margin-top: 40px;
    width: 80px;
  }

  /* Contact */
  .contact {
    flex-direction: column; 
    margin-bottom: 50px;
  }

  .container-item {
    width: 100%; 
    margin-bottom: 10px; 
  }

  .contact__content {
    width: 100%; 
    margin-top: 50px;
  }

  /* Portfolio */
  .project__container {
    width: 80%;
  }
   
  .btn_project {
    display: flex;  
    justify-content: center;
    margin-left: 10%;
    margin-right: 9%;
    margin-top: 10px;
    font-size: 14px; 
    padding: 10px 20px; 
    width: 80%;
  }

  /* Footer */
  footer {
    padding: 20px 5%;
  }

  .footer_link {
    margin-bottom: 40px;
  }
}

.project__container{
  width: 95%;
}


/* Responsive Design for Phones */
@media (max-width: 460px) {
  /* Softskill Cards */
  .softskillContainer {
    flex-direction: column;
    align-items: center;
  }

  .softskill {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Main Content Text */
  .main-content p {
    font-size: 0.8rem;
  }

  /* Contact Button */
  .btn3 {
    width: 100%;
  }
}
