body{
  background-color: rgb(0, 0, 71);
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(to left, #8f94fb, rgb(0, 0, 71));
}

/* Background */
.circles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Désactive les interactions sur les éléments de fond */
}
.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

/* NavBar */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgb(225, 225, 225, .15);
  backdrop-filter: blur(20px);
}

.header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
span{
  color: orange;
}

.name{
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 520;
}

.navbar a {
  font-size: 1.15em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  transition: .50s ease;
}
.navbar a:hover{
  color: orange;
  padding-right: 10px;
}
#check{
  display: none;
}
.menu{
  position: absolute;
  right: 5%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* Introduction */

section {
  padding: 180px  9% 90px;
  position: relative;
}

.container {
  display: flex;
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Me {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  margin-right: 120px; /* ajustez si nécessaire */
  width: auto;
  height: 50%;
  border: 3.5px solid rgb(3, 119, 227);
  border-radius: 20%;
}

.main-content {
  color: white;
}
.main-content h3{
  font-size: 1.4rem;
}
.main-content h1{
  font-size: 3.5rem;
  font-weight: 800;
  margin: 20px 0px 20px;
  line-height: 1.3;
}
.main-content h4{
  margin: 20px 0px 20px;
  font-size: 1.6rem;
  line-height: 1.3;
  color: white;
}
.main-content p{
  font-size: 1rem;
  font-weight: 600;
  width: 620px;
  max-width: 100%;
  color: #b6b9bf;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.medsos{
  margin-bottom: 40px;
}
.medsos .Icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: white;
  border: 3.5px solid rgb(3, 119, 227);
  border-radius: 50%;
  backdrop-filter: brightness(88%);
  font-size: 20px;
  margin-right: 17px;
  box-shadow: 0 0 20px transparent;
  cursor: pointer;
  transition: all .50s ease;
}
.medsos .Icon:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px rgb(3, 119, 227);
}
.btn{
  padding: 11px 26px;
  background: rgb(3, 119, 227);
  color: rgb(5, 9, 31);
  border: 2px solid rgb(3, 119, 227);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: all .50s ease;
  text-decoration: none;
}
.btn:hover {
  background: transparent;
  color: white;
  box-shadow: 0 0 20px rgb(3, 119, 227);
  cursor: pointer;
}
.btn2{
  background: transparent;
  color: white;
  margin-left: 15px;
}
.btn2:hover{
  cursor: pointer;
  background: rgb(3, 119, 227);
  color: rgb(5, 9, 31);
  box-shadow: 0 0 20px rgb(3, 119, 227) ;
}

/* SKILLS */

#skills {
  padding: 20px 15px 75px 15px;
  color: white;
  margin-top: 80px;
}
.skill-subtitile{
  text-align: center;
  margin: 20px 140px 0px 140px;
  color: #b6b9bf;
}
.skills-text {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.skills-title {
  display: block;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.skills-title.underline:before {
  width: 40px;
}

.skills-list {
  overflow: hidden;
  position: relative;
  z-index: 10
}

.skill-name:after {
  background-color: #999797;
  content: '';
  display: block;
  height:1rem;
  position: relative;
  top: 3px;
  /*top: 1rem;*/
  width: 100%;
}

.skill-percent {
  font-size: 0;
  height: 1rem;
  position: relative;
  top: -.8rem;
  transition: 3s linear;
  width: 0;
}

/* SKILL BAR COLORS */

.skill-percent{
  background-color: white;
}

/* Heading Underline */

.underline {
  display: inline-block;
  position: relative;
}

.underline:before {
  background-color: #fff;
  bottom: -15px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 110%;
}

/* Contact */

.contact-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.container-item {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 200px;
  box-shadow: 0 0 20px rgb(3, 119, 227);
}
.item{
  font-size: 18px;
  color: #999797;
  text-decoration: underline;
}
.title-item {
  display: inline-block;
  position: relative;
  margin: 0 40px 40px 40px;
}
.icon-item{
  width: 50px; 
  height: 50px;
  margin: 10px;
}

.title-item:before {
  background-color: #7d84ff;
  bottom: -15px;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  width: 110%;
}
@media (max-width: 1212px) {
  .Me {
    position: static;
    margin-top: 250px; 
    margin-right: 70px; 
    transform: none; 
    height: 300px;
    width: auto;
  }
}
@media (max-width: 992px) {
  .menu {
    display: inline-flex;
  }

  #check:checked~.menu #icon-menu {
    display: none;
  }

  .menu #close-menu {
    display: none;
  }

  #check:checked~.menu #close-menu {
    display: flex;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgb(0, 0, 63);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: .2s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .2s ease;
  }

  #check:checked~.navbar a {
    transform: translateY(0);
  }

  /* Introduction */
  section {
    padding: 80px 5% 40px;
  }

  .container {
    flex-direction: column;
  }

  .hero {
    display: block;
    margin-top: 125px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Me {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 30%;
    border: 3.5px solid rgb(3, 119, 227);
    border-radius: 20%;
  }
  

  .main-content h1 {
    font-size: 2.5rem;
  }

  .main-content h4,
  .main-content p {
    width: 100%;
  }

  .medsos {
    margin-bottom: 20px;
  }

  .btn,
  .btn2 {
    width: 100%;
    margin: 15px 0;
  }

  /* SKILLS */
  #skills {
    padding: 20px 15px 75px 15px;
    color: #fff;
    margin-top: 0px;
  }

  .skill-subtitile {
    margin: 20px 5% 0 5%;
  }

  .skills-title.underline:before {
    width: 20px;
  }

  /* Contact */
  .contact-container {
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-item {
    width: 80%;
    margin: 20px 0;
  }
}
